-e git+git@github.com:peterhudec/authomatic.git#egg=Authomatic-master
Flask
Flask-Admin
Flask-Login
Flask-RESTful
Flask-SQLAlchemy
SQLAlchemy
Werkzeug
argparse
mixer
nose
psycopg2
alembic
GeoAlchemy2
Shapely
