<div ng-show="user_data.fullUserName">
	<!--Form for report issue starts -->
	<div id="report-issue" class="col-lg-5">
		<form name="issueForm" ng-controller="IssueController as IssueCtrl" ng-submit="IssueCtrl.addIssue(IssueCtrl.issue)">
		<div ng-show="success" class="alert alert-success" role="alert">Well done! You have successfully created an issue.</div>
		<div ng-show="noCoord" class="alert alert-danger" role="alert">Please add marker</div>
		<div ng-show="faile" class="alert alert-danger" role="alert">Oh snap! Change few things up and try submitting again.</div>
            <div class="form-group">
			    <label for="comment" translate="DESCRIPTION">Description</label>
			    <textarea ng-model="IssueCtrl.issue.description" class="form-control" rows="4" id="comment" placeholder="{{'WRITE_COMMENT' | translate}}"></textarea>
			</div>
			<button type="submit"  class="btn btn-default">{{'SUBMIT' | translate }}</button>
		</form>
	</div>
	<!--Form for report issue ends -->
</div>
