<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Civic Issue Tracker</title>

    <!-- CSS files -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link href="/static/css/bootstrap.min.css" type = "text/css" rel="stylesheet">
    <link href="/static/css/bootstrap-social.css" type = "text/css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" type = "text/css" rel="stylesheet">
    <link href="/static/css/general-styles.css" type = "text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/slick.css"/>

    <!-- JS files -->
    <script src="/static/js/angular.js"></script>
    <script src="/static/js/bootstrap.min.js" ></script>
    <script src="/static/js/jquery.js" ></script>
    <script src="/static/js/leaflet.js"></script>
    <script src="/static/js/user_directive.js"></script>
   
  </head>
  <body>

 <body ng-app="myApp">
     <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
       <div class="navbar-collapse collapse navbar-right" ng-controller="UserNS">
            		
            <my-customer></my-customer>
          		
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li class="active"><a href=#">Logo</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- Map -->
    <div class="col-lg-12">
        <div class="col-lg-7">
            <div id="map"></div>
	      </div>
	      <div class="col-lg-5">
          <div class="col-lg-12" id="full_right_map">

            <div id="general">
            </div><!--general end -->

            <div id="location_info">
            </div><!--location_info end -->

            <div id="slider">
              <div class="slider slider-nav">
                <div><img src="/static/images/carousel/thumbs/1.jpg" alt="img_1"></div>
                <div><img src="/static/images/carousel/thumbs/2.jpg" alt="img_2"></div>
                <div><img src="/static/images/carousel/thumbs/3.jpg" alt="img_3"></div>
                <div><img src="/static/images/carousel/thumbs/4.jpg" alt="img_4"></div>
              </div>
              <div class="slider slider-for">
                <div><img src="/static/images/carousel/1.jpg" alt="img_1"></div>
                <div><img src="/static/images/carousel/2.jpg" alt="img_2"></div>
                <div><img src="/static/images/carousel/3.jpg" alt="img_3"></div>
                <div><img src="/static/images/carousel/4.jpg" alt="img_4"></div>
              </div>
            </div><!--slider end -->

          </div>
        </div>
    </div>

    <!-- JS files -->
    <script src="/static/js/map_control.js"></script>
    <script type="text/javascript" src="/static/js/slick.min.js"></script>
    <script type="text/javascript" src="/static/js/gallery.js"></script>

  </body>
</html>
