<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Civic Issue Tracker</title>

    <!-- CSS files -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link href="/static/css/bootstrap.min.css" type = "text/css" rel="stylesheet">
    <link href="/static/css/bootstrap-social.css" type = "text/css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" type = "text/css" rel="stylesheet">
    <link href="/static/css/general-styles.css" type = "text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/slick.css"/>

    <!-- JS files -->
    <script src="/static/js/angular.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/angular-translate.js"></script>      
    <script src="/static/js/controllers.js"></script>
    <script src="/static/js/directives.js"></script>  

    <script src="/static/js/bootstrap.min.js" ></script>
    <script src="/static/js/jquery.js" ></script>
    <script src="/static/js/leaflet.js"></script>
    <script src="/static/js/jquery.js"></script>
    <!--Search location on a map -->
    <script src="/static/js/l.control.geosearch.js"></script>
    <script src="/static/js/l.geosearch.provider.openstreetmap.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/l.geosearch.css" />



  </head>
  <body ng-app="CITApp">
     <!-- Fixed navbar -->

 <div class="container" error-directive ng-cloak>

     <div ng-hide="hideMessage" class="ng-hide" >
         <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"  id="modalWindow" >
          <div class="modal-dialog modal-sm">

            <div class="modal-content">
              <div class="modal-header">
               <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="closeAlert()">
                      <span aria-hidden="true">&times;</span>
                  </button>
                <strong>Warning!  </strong>
              </div>
              <div class="modal-body">
                <span ng-bind="msg"></span> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-collapse collapse navbar-right" ng-controller="UserNS" >
            <!--/Angular-user (login/unlogin) -->
              <div>
                <div ng-if="user_data.fullNS == ''">
                  <a href="/auth/login/fb/" class="btn btn-lg  btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Sign in with Facebook
                  </a>
                </div>
                <div ng-if="user_data.fullNS != ''">
                  <div class="userFb" user-namesurname></div>
                </div>
              </div>
            <!--/End angular-user (login/unlogin) -->
        </div>                     
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="#" translate="HOME">Home</a></li>
              <li class="active"><a href="#" translate="LOGO">Logo</a></li>
            </ul>
         </div>
</nav>


 <!--/.nav-collapse -->     
     <!-- Map -->
    <div class="col-lg-12">
        <div class="col-lg-7">
            <div id="map"></div>
        </div>
        <div class="col-lg-5">
          <div class="col-lg-12" id="full_right_map">
            <div id="general">
            </div><!--general end -->
            <div id="location_info">
            </div><!--location_info end -->
            <div id="slider">
              <div class="slider slider-nav">
                <div><img src="/static/images/carousel/thumbs/1.jpg" alt="img_1"></div>
                <div><img src="/static/images/carousel/thumbs/2.jpg" alt="img_2"></div>
                <div><img src="/static/images/carousel/thumbs/3.jpg" alt="img_3"></div>
                <div><img src="/static/images/carousel/thumbs/4.jpg" alt="img_4"></div>
              </div>
              <div class="slider slider-for">
                <div><img src="/static/images/carousel/1.jpg" alt="img_1"></div>
                <div><img src="/static/images/carousel/2.jpg" alt="img_2"></div>
                <div><img src="/static/images/carousel/3.jpg" alt="img_3"></div>
                <div><img src="/static/images/carousel/4.jpg" alt="img_4"></div>
              </div>
            </div><!--slider end -->
          </div>
        </div>
    </div>
    <!-- JS files -->
    <script src="/static/js/map_control.js"></script>
    <script type="text/javascript" src="/static/js/slick.min.js"></script>
    <script type="text/javascript" src="/static/js/gallery.js"></script>
    <!-- AngularJS files -->
    <script src="/static/js/user_directive.js"></script>

  </body>
</html>
