/* HEADER */
.user-box {
    padding: 30px 25px;
    background-color: #E7E7E7;
    color: #5B5B5B;
    font-size: 18px;
    font-weight: bold;
    margin: 0px;    
}
.user-box ul li a{
    font-size: 18px;
}
/*Header Logo*/
#logo a img{
    width: 80px;
    height: auto;
    padding: 10px 0;
}
#logo{
    float: left;
}
#navbar ul {    
    margin-top: 18px;
    margin-left: 15px;
}
#navbar ul a{
    font-size: 18px;
}
#facebookbtn {
    margin-top: 17px;
}

/*Map CSS*/
#map { 
    height: 725px;
    margin-top: 88px;
}

/*Full_right_map CSS*/
#full_right_map {
    height: 620px;
    margin-top: 51px;
}

/*General CSS*/
#general {
    height: 120px;
}

/*Location_info CSS*/
#location_info {
    height: 120px;
}

/*Slider CSS*/
#slider .slider-nav {
    height: 140px;
}

#slider .slider-nav div img {
    width: 111px;
    height: 111px;
}

#slider .slider-for div img {
    width: 100%;
    height: 100%;
}

/*Modal window*/
div #modalWindow {
    display:block;
    opacity:0.9;
}

.ng-hide {
    display:none;
}

/*profile*/
.col-sm-10 {
  width: 15%;
}

#profile { 
    margin-top: 120px;
}

#report-issue{
    max-width: 300px;
    margin-top: 100px;
    margin-left: 90px;
    float: left;
}

#report-issue textarea {
  resize: none;
}
