/* HEADER */
.userFb {
    padding: 4px 18px;
    background-color: #2D4373;
    color: #fff;
    font-size: 16px;
    margin: 10px;
}

/*Map CSS*/
#map { 
    height: 725px;
    margin-top: 51px;
}

/*Full_right_map CSS*/
#full_right_map {
    height: 620px;
    margin-top: 51px;
}

/*General CSS*/
#general {
    height: 120px;
}

/*Location_info CSS*/
#location_info {
    height: 120px;
}

/*Slider CSS*/
#slider .slider-nav {
	height: 140px;
}

#slider .slider-nav div img {
	width: 111px;
	height: 111px;
}

#slider .slider-for div img {
	width: 100%;
	height: 100%;
}

/*Modal window*/
div #modalWindow {
    display:block;
    opacity:0.9;
}

.ng-hide {
    display:none;
}

